/* Global css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 768px) {
.search-bar {
  display: none; 
}
}

body {
  font-family: Arial, sans-serif;
  background: #fff;
  color: #000;
}

.feed {
  margin: 4em 0;
}

.header {
  position: fixed;
  align-items: center;
  top: 0;
  width: 100%;
  background: #fff;
  display: flex;
  padding: 0.6em;
  height: 4em;
  z-index: 1000;
  gap: 1em;
  box-sizing: border-box; 
}

.header h2 {
  font-size: 18px;
  font-weight: 600;
  flex: 1;
}
 
.header a {
  display: contents;
  font-size: 1.3em;
  color: #000;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: white;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: space-around;
  padding: 0.8em 0;
  z-index: 1000;
}

.bottom-nav i {
  font-size: 1.4em;
  cursor: pointer;
  color: #000;
}


/* index.html css */

.post {
  background: #fff;
  margin-bottom: 0.2em;
}

.post-header {
  display: flex;
  align-items: center;
  padding: 10px;
}

.post-header .avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}

.post-header .username {
  font-weight: bold;
  font-size: 14px;
}

.post-image img {
  width: 100%;
  display: block;
}

.post-actions {
  display: flex;
  gap: 15px;
  padding: 10px;
  font-size: 18px;
}

.post-caption {
  padding: 0 10px 10px 10px;
  font-size: 14px;
}

.post-time {
  padding: 0 10px 10px 10px;
  font-size: 12px;
  color: #888;
}
